/** @format */

:root {
  /* Colors */
  --color-primary--50: #fdf2e9;
  --color-primary--100: #f8d8bd;
  --color-primary--200: #f3bf91;
  --color-primary--300: #eea564;
  --color-primary--400: #e98b38;
  --color-primary--500: #e67e22;
  --color-primary--600: #b8651b;
  --color-primary--700: #8a4c14;
  --color-primary--800: #5c320e;

  --color-green-200: #51cf66;

  --color-lime-200: #94d82d;

  --color-yellow-200: #fcc219;

  --color-gray--500: #555;
  --color-gray--300: #333;
  --color-gray--600: #fdf2e9;
  --color-gray--700: #aaa;
  --color-gray--800: #888;
  --color-gray--900: #6d6d6d;

  --color-white: #fff;
  --color-black: #000;

  /* TYPEFACE */

  /* Font Width */
  --font-width-defult: 400;
  --font-width-medium: 500;
  --font-width-semi-bold: 600;
  --font-width-bold: 700;

  /* Font Size */
  --font-size-10: 1rem;
  --font-size-12: 1.2rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-24: 2.4rem;
  --font-size-30: 3rem;
  --font-size-36: 3.6rem;
  --font-size-44: 4.4rem;
  --font-size-52: 5.2rem;
  --font-size-62: 6.2rem;
  --font-size-74: 7.4rem;
  --font-size-86: 8.6rem;
  --font-size-98: 9.8rem;

  /* Line Heights */
  --leading-default: 1;
  --leading-sm: 1.05;
  --leading-paragraph: 1.6;

  /* White Space */
  --space-2: 0.2rem;
  --space-4: 0.4rem;
  --space-8: 0.8rem;
  --space-12: 1.2rem;
  --space-16: 1.6rem;
  --space-24: 2.4rem;
  --space-32: 3.2rem;
  --space-48: 4.8rem;
  --space-64: 6.4rem;
  --space-80: 8rem;
  --space-96: 9.6rem;
  --space-124: 12.4rem;

  /* Letter Spacing */
  --tracking-wide: 0.75px;
  --tracking-tight: -0.5px;

  /* Border Radius */
  --rounded-sm: 9px;
  --rounded-medium: 11px;
}

/*------------------------------------*\
  #CSS-RESET
\*------------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

strong {
  font-weight: 500;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------------*\
  #CSS-RESET
\*------------------------------------*/
/* Genral Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
}

label {
  display: block;
}

/*------------------------------------*\
  #GENRAL-STYLES
\*------------------------------------*/
.container {
  max-width: 120rem;
  padding: 0 var(--space-32);
  margin: 0 auto;
}

.d-grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gap-16 {
  gap: var(--space-16);
}

.gap-48 {
  gap: var(--space-48);
}

.col-gap-80 {
  column-gap: var(--space-80);
}

.col-gap-64 {
  column-gap: var(--space-64);
}

.row-gap-48 {
  row-gap: var(--space-48);
}

.row-gap-96 {
  row-gap: var(--space-96);
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-self-end {
  justify-self: end;
}

.align-center {
  align-items: center;
}

.mr-16 {
  margin-right: var(--space-16);
}

.mb-96 {
  margin-bottom: var(--space-96);
}

.mb-48 {
  margin-bottom: var(--space-48);
}

.mt-48 {
  margin-top: var(--space-48);
}

.p-16 {
  padding: var(--space-16);
}

.p-96 {
  padding: var(--space-96);
}

.text-center {
  text-align: center;
}

.icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary--500);
}

/*------------------------------------*\
  #ELEMENTS-SECTION
\*------------------------------------*/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: var(--font-width-bold);
  color: var(--color-gray--300);
}
.heading-primary {
  font-size: var(--font-size-52);
  line-height: 1.05;
  letter-spacing: var(--tracking-tight);
  margin-bottom: var(--space-32);
}

.heading-secondary {
  font-size: var(--font-size-44);
  line-height: 1.2;
  margin-bottom: var(--space-96);
}

.heading-tertiary {
  font-size: var(--font-size-30);
  line-height: 1.2;
  margin-bottom: var(--space-32);
}

.sub-heading {
  display: block;
  font-size: var(--font-size-16);
  font-weight: var(--font-width-medium);
  color: var(--color-primary--700);
  text-transform: uppercase;
  letter-spacing: var(--tracking-wide);
  margin-bottom: var(--space-16);
}

.form-control {
  width: 100%;
  padding: var(--space-12);
  font-size: var(--font-size-18);
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: var(--rounded-sm);
  background-color: var(--color-gray--600);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-group label {
  font-size: var(--font-size-16);
  font-weight: var(--font-width-medium);
  margin-bottom: var(--space-12);
}

.form-control::placeholder {
  color: var(--color-gray--700);
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgb(255 255 255 / 25%);
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(238, 165, 100, 25%);
}

/*------------------------------------*\
  #HERO-SECTION
\*------------------------------------*/
.section-hero {
  background-color: var(--color-primary--50);
  padding: var(--space-48) 0 var(--space-96);
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 var(--space-32);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--space-96);
}

.hero-description {
  font-size: var(--font-size-20);
  line-height: 1.6;
  margin-bottom: var(--space-48);
}
.btn,
.btn:link,
.btn:visited {
  font-size: var(--font-size-20);
  font-weight: var(--font-width-semi-bold);
  padding: var(--space-16) var(--space-32);
  border-radius: var(--rounded-sm);
  transition: all 0.3s;
}

.btn--full {
  background-color: var(--color-primary--700);
  color: var(--color-white);
}

.btn--full:hover,
.btn--full:active {
  background: var(--color-primary--600);
}

.btn--outline {
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-primary--50);
  box-shadow: inset 0 0 0 3px var(--color-white);
}

.delivered-box {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  margin-top: var(--space-80);
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-primary--50);
}

.delivered-imgs img:not(:last-child) {
  margin-right: -1.6rem;
}

.delivered-text {
  font-size: var(--font-size-18);
  font-weight: var(--font-width-semi-bold);
}

.delivered-text span {
  color: var(--color-primary--700);
  font-weight: var(--font-width-bold);
}

/*------------------------------------*\
  #FEATURED-IN-SECTION
\*------------------------------------*/
.section-featured {
  padding: var(--space-48) 0 var(--space-32);
}

.heading-featured-in {
  font-size: var(--font-size-14);
  font-weight: var(--font-width-medium);
  color: var(--color-gray--800);
  text-transform: uppercase;
  letter-spacing: var(--tracking-wide);
  text-align: center;
  margin-bottom: var(--space-24);
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/*------------------------------------*\
  #HEADER-SECTION
\*------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary--50);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.main-logo {
  height: 2.2rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: var(--space-32);
  list-style-type: none;
}

.nav-link:link,
.nav-link:visited {
  color: var(--color-gray--300);
  font-weight: var(--font-width-medium);
  font-size: var(--font-size-18);
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--color-primary--700);
}

.nav-link.cta-link:link,
.nav-link.cta-link:visited {
  padding: var(--space-12) var(--space-24);
  background-color: var(--color-primary--700);
  color: var(--color-white);
  border-radius: var(--rounded-sm);
}

.nav-link.cta-link:hover,
.nav-link.cta-link:active {
  background-color: var(--color-primary--600);
}

/*------------------------------------*\
  #HOW-IT-WORKS-SECTION
\*------------------------------------*/
.section-how {
  padding: var(--space-96) 0;
}

.step-number {
  font-size: var(--font-size-86);
  font-weight: var(--font-width-semi-bold);
  color: #ddd;
}

.step-description {
  font-size: var(--font-size-18);
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--color-primary--50);
  z-index: -2;
}

.step-img-box::after {
  width: 40%;
  padding-bottom: 40%;
  background-color: var(--color-primary--100);
  z-index: -1;
}
.step-image {
  width: 35%;
}

/*------------------------------------*\
  #Meals-SECTION
\*------------------------------------*/
.section-meals {
  padding: var(--space-96) 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: var(--rounded-medium);
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: var(--space-32) var(--space-48) var(--space-48);
}

.meal-tags {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  margin-bottom: var(--space-12);
}

.tag {
  display: inline-block;
  padding: var(--space-4) var(--space-8);
  border-radius: 100px;
  font-size: var(--font-size-12);
  text-transform: uppercase;
  font-weight: var(--font-width-semi-bold);
  color: var(--color-gray--300);
}

.tag--vegetarian {
  background-color: var(--color-green-200);
}

.tag--vegan {
  background-color: var(--color-lime-200);
}

.tag--paleo {
  background-color: var(--color-yellow-200);
}

.meal-title {
  font-size: var(--font-size-24);
  font-weight: var(--font-width-semi-bold);
  color: var(--color-gray--300);
  margin-bottom: var(--space-32);
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  font-size: var(--font-size-18);
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: var(--space-12);
}

.diets-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.list-item {
  font-size: var(--font-size-18);
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

.all-recipes {
  text-align: center;
  font-size: var(--font-size-18);
}

.recipes-link:link,
.recipes-link:visited {
  color: var(--color-primary--700);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.recipes-link:hover,
.recipes-link:active {
  color: var(--color-primary--600);
  border-bottom: 1px solid transparent;
}

/*------------------------------------*\
  #Meals-SECTION
\*------------------------------------*/
.section-testimonials {
  background-color: var(--color-primary--50);
  grid-template-columns: 55fr 45fr;
}

.testimonial-image {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: var(--space-12);
}

.testimonial-text {
  font-size: var(--font-size-18);
  line-height: var(--leading-paragraph);
  margin-bottom: var(--space-16);
}

.testimonial-name {
  font-size: var(--font-size-16);
  color: var(--color-gray--900);
}

.gallary-item {
  overflow: hidden;
}

.gallery-image {
  transition: all 0.4s;
}

.gallery-image:hover {
  transform: scale(1.1);
}

/*------------------------------------*\
  #PRICON-SECTION
\*------------------------------------*/
.section-pricing {
  padding: var(--space-96) 0;
}

.pricing-plan {
  border: 1px solid var(--color-primary--50);
  border-radius: var(--rounded-medium);
  padding: var(--space-48);
  width: 75%;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete {
  background-color: var(--color-primary--50);
}

.pricing-plan--complete::before {
  content: attr(data-msg);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-yellow-200);
  text-transform: uppercase;
  font-size: var(--font-size-14);
  font-weight: var(--font-width-bold);
  padding: var(--space-8) var(--space-32);
  rotate: 45deg;
  translate: 25% 75%;
}

.plan-name {
  font-size: var(--font-size-20);
  font-weight: var(--font-width-semi-bold);
  color: var(--color-primary--700);
  text-transform: uppercase;
  letter-spacing: var(--tracking-wide);
  margin-bottom: var(--space-32);
}

.plan-price {
  font-size: var(--font-size-62);
  font-weight: var(--font-width-semi-bold);
  color: var(--color-gray--300);
  margin-bottom: var(--space-16);
}

.plan-price span {
  font-size: var(--font-size-30);
  font-weight: var(--font-width-medium);
  margin-right: var(--space-8);
}

.plan-text {
  font-size: var(--font-size-16);
  line-height: var(--leading-paragraph);
  color: var(--color-gray--900);
}

.plan-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.plan-details {
  font-size: var(--font-size-16);
  line-height: var(--leading-paragraph);
}
.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--color-primary--50);
  margin-bottom: var(--space-32);
  padding: var(--space-16);
  border-radius: 50%;
}

.feature-title {
  font-size: var(--font-size-24);
  color: var(--color-gray--300);
  font-weight: var(--font-width-bold);
  margin-bottom: var(--space-16);
}

.feature-text {
  font-size: var(--font-size-18);
  line-height: var(--leading-paragraph);
}

/*------------------------------------*\
  #CTA-SECTION
\*------------------------------------*/
.section-cta {
  padding: var(--space-48) 0 var(--space-124);
}

.cta {
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary--200),
    var(--color-primary--500)
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: var(--rounded-medium);
  overflow: hidden;
}

.cta-form-box {
  padding: var(--space-48) var(--space-64) var(--space-64);
  color: var(--color-primary--800);
}

.cta-form-box .heading-secondary {
  color: inherit;
  margin-bottom: var(--space-32);
}

.cta-text {
  font-size: var(--font-size-16);
  line-height: var(--leading-paragraph);
  margin-bottom: var(--space-48);
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--space-32);
  row-gap: var(--space-24);
}

.btn-form {
  border: none;
  cursor: pointer;
  background-color: var(--color-primary--800);
  color: var(--color-white);
  align-self: end;
  padding: var(--space-12);
}

.btn-form:hover {
  background-color: var(--color-white);
  color: var(--color-gray--500);
}

.btn-form:focus {
  box-shadow: 0 0 0 0.6rem rgb(255 255 255 / 25%);
}

.cta-image {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

/*------------------------------------*\
  #FOOTER-SECTION
\*------------------------------------*/
.footer {
  padding: var(--space-124) 0;
  border-top: 1px solid #eee;
}

.footer .d-grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-heading {
  font-size: var(--font-size-18);
  font-weight: var(--font-width-medium);
  margin-bottom: var(--space-32);
}

.footer .logo {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}

.social-links {
  display: flex;
  gap: var(--space-24);
}

.social-links .icon {
  color: var(--color-gray--900);
}

.copyright {
  font-size: var(--font-size-14);
  line-height: var(--leading-paragraph);
  color: var(--color-gray--900);
}

.contacts {
  font-style: normal;
  font-size: var(--font-size-16);
  line-height: var(--leading-paragraph);
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  color: var(--color-gray--900);
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}

.footer a:link,
.footer a:visited {
  font-size: var(--font-size-16);
  color: var(--color-gray--900);
  transition: all 0.3s;
}

.footer a:hover,
.footer a:active {
  color: var(--color-gray--300);
}
