/** @format */

:root {
  /* Colors */
  --color-primary--200: #fdf2e9;
  --color-primary--500: #e67e22;
  --color-primary--600: #cf711f;
  --color-primary--700: #b05f18;

  --color-gray--500: #555;
  --color-gray--300: #333;

  --color-white: #fff;
  --color-black: #000;

  /* TYPEFACE */

  /* Font Width */
  --font-width-defult: 400;
  --font-width-bold: 600;
  --font-width-bolder: 700;

  /* Font Size */
  --font-size-10: 1rem;
  --font-size-12: 1.2rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-24: 2.4rem;
  --font-size-30: 3rem;
  --font-size-36: 3.6rem;
  --font-size-44: 4.4rem;
  --font-size-52: 5.2rem;
  --font-size-62: 6.2rem;
  --font-size-74: 7.4rem;
  --font-size-86: 8.6rem;
  --font-size-98: 9.8rem;

  /* White Space */
  --space-2: 0.2rem;
  --space-4: 0.4rem;
  --space-8: 0.8rem;
  --space-12: 1.2rem;
  --space-16: 1.6rem;
  --space-24: 2.4rem;
  --space-32: 3.2rem;
  --space-48: 4.8rem;
  --space-64: 6.4rem;
  --space-80: 8rem;
  --space-96: 9.6rem;
  --space-124: 124rem;

  /* Border Radius */
  --rounded-sm: 9px;
}
